header {
    display: flex;
    justify-content: space-between;
    background-color: #2C6E49;
    align-items: center;
    height: 80px;
    width: 100%;
}
body {
    margin: 0;
}
header img {
    width: 48px;
    height: 48px;
}
h1 {
    text-align: center;
    color: white;
    font-size: 22px;
}
.campo img {
    width: 100%;
    height: 100%;
}
section img {
    position:absolute;
    height:24px;
    width:24px;
    z-index: 1;
}
.ptoVerde1 {
    top: 357px;
    left : 56px;
}
.ptoVerde2 {
    top: 333px;
    left : 102px;
}
.ptoVerde3 {
    top: 345px;
    left : 180px;
}
.ptoVerde4 {
    top: 376px;
    left : 114px;
}
.ptoVerde5 {
    top: 462px;
    left : 36px;
}
.ptoVerde6 {
    top: 474px;
    left : 102px;
}
.ptoVerde7 {
    top: 438px;
    left : 148px;
}
.ptoVerde8 {
    top: 426px;
    left : 207px;
}
.ptoVerde9 {
    top: 426px;
    left : 266px;
}
.ptoVerde11 {
    top: 498px;
    left : 213px;
}
.ptoVerde10 {
    top: 474px;
    left : 249px;
}
.ptoVerde12 {
    top: 486px;
    left : 272px;
}
.ptoVerde13 {
    top: 599px;
    left : 170px;
}
.ptoVerde14 {
    top: 575px;
    left : 242px;
}
.ptoVerde15 {
    top: 498px;
    left : 213px;
}
.ptoVerde16 {
    top: 590px;
    left : 220px;
}
.ptoVerde17 {
    top: 450px;
    left : 97px;
}
.popup {
    position:absolute;
    height:36px;
    width:80px;
    z-index: 2;
    top: 344px;
    left : 86px;
}
.oculto {
    display: none;
}